.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App {
  background-color: #282c34;
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  color: white;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App-link {
  color: #61dafb;
}

.citrus-clickable {
  cursor: pointer;
}

/* text-blue-600 */
.citrus-clickable:hover {
  color: rgb(37 99 235);
}

/* text-blue-800 */
.citrus-clickable:active {
  color: rgb(30 64 175);
}
